:root {
  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --hover-color: #2196f3;
}
